$fondo: #2c2f33;
$nav: #23272a;
$color3: #99aab5;
$color4: #ffffff;
$color5: #7289da;
$color6: #0060df;
$colordiscord: #7289da;

@import 'bootstrap/bootstrap';

body{
    background-color: $fondo;
}

a{

    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

header{

    .col-auto{
        padding: 5px 0;
    }

    .main-menu{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        a{  
            color: $color4;
            padding: 3px 15px;
        }

        .quien{
            position: relative;
            margin: 0;
            top: 25%;
        }
    }

    margin-bottom: 10px;
}

footer{

    border-top: 1px solid $nav;
    padding: 20px 0;

    img{
        position: relative;
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

    p{
        margin-top: 15px;
        color: $color3;
        text-align: center;
    }
}

.discord{
    position: relative;
    width: 350px;
    margin-left: auto;
    margin-right: 20px;
}

.btn-primary{
    background-color: $color6;
    &:hover{
        background-color: $color6;
    }  
}

.si{
    padding: 10px;
}

.imagen-nav{
    padding: 10px;
    width: 200px;
}

.cuerpo{

    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    p{
        color: $color4;
    }

    h1{
        color: $color4;
    }
}